# Dependencies
node_modules/

# Production builds
/build
/.svelte-kit

# Environment variables
.env
.env.*
!.env.example

# Logs
logs
*.log

# Vercel
.vercel

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*